
@{
    ViewData["Title"] = "Home Page";
}

<form action="/action_page.php">
  <label for="fname">Nombres</label><br>
  <input type="text text" id="fname" name="fname" value=""><br>
  <label for="lname">Apellidos</label><br>
  <input type="text"  id="lname" name="lname" value=""><br><br>
  <label for="fname">Correo</label><br>
  <input type="Email" id="fname" name="fname" value=""><br>
  <label for="fname">Mensaje</label><br>
  <input type="text" id="fname" name="fname" value=""><br>


  <input type="submit" value="Enviar" class="btn btn-primary">
</form> 